:root {
    --accent: #e15f41;
    --background: #ffeae6;
}

body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: var(--accent);
}

.nav .nav-link.active {
    background-color: #fff;
    color: var(--accent);
}

.nav-link,
.navbar-brand,
.navbar-brand:hover {
    color: #fff;
}

.navbar-brand::selection {
    background-color: #fff;
    color: var(--accent);
}

.navbar-toggler {
    background-color: var(--background);
}

.section-title {
    font-family: Pacifico, cursive;

    & span {
        color: var(--accent);
    }
}

#sobre {
    background-color: var(--background);
}
